@import "./styles/navbar.scss";
@import "./styles/card.scss";

* {
  margin: 0;
  padding: 0;
  font-family: Rubik;
  box-sizing: border-box;
}

html,
body {
  background-color: #242424;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  text-align: center;
  position: relative;

  h1 {
    margin-bottom: 0.5em;
    span {
      color: #dd3f31;
    }
  }

  p {
    line-height: 1em;
  }
}

.about {
  max-width: calc(50% + 12rem);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 1em 0;
  }

  p {
    margin-top: 1em;
  }
}

.projects {
  .grid {
    display: grid;
  }
}

.video {
  position: fixed;
  z-index: -1;
}

.skillsH {
  margin-top: 3em;
}

.skills {
  ul {
    display: flex;
    align-items: center;
    gap: 2em;

    li {
      list-style: none;
    }
  }
}
